/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header Styles */
header {
    background-color: #333;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header a {
    color: #ffffff;
    font-size: 24px;
}

/* Navigation Button Styles */
button.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button.btn-primary:hover {
    background-color: #0056b3;
}

/* Main Section Styles */
main {
    margin-bottom: 20px;
}

/* About Me Section */
#aboutMeContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#expandedText {
    margin-top: 15px;
}

/* Projects Section */
.card {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card-footer {
    background-color: #f8f8f8;
}

/* Contact Section */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
    .container {
        width: 95%;
    }

    header h1 {
        font-size: 20px;
    }

    button.btn-primary {
        font-size: 14px;
        padding: 8px 12px;
    }
}
