/* Variables */
:root{
    --borderColor: 10px solid black;
}


/* For scroll for the NAV Section */
html{
    scroll-behavior: smooth;
}


/* For Default Font, and Text with additional gradient background. */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-image: linear-gradient(to bottom right, red , darkorange);
}


/* All headers have 1% padding */
header{
    padding: 1%;
}

/* Navheader flexbox container */
.navHeader #container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Nav Header for background color */
.navHeader{
    background-color: black;
}

/* NAV HEADER TEXT */
.navHeader h1 {
    margin: 0px 0px 0px 0px;
}

/* NAVIGATION BUTTONS */
nav a{
    padding: 10px;
    font-weight: bold;
    border: 1px solid orange;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

/* GREY WHEN HOVERED */
nav a:hover{
    background-color: grey;
}

/* WHEN CLICKED TRANSITION TO SECTION */
nav a:active{
    opacity: .5;
    border: var(--borderColor);
}

/* ABOUT ME HEADER */
.aboutMe header{
    font-size: 20px;
    display: flex;
    justify-content: center;
}

/* ABOUT ME HEADER TEXT FOR BORDER */
.aboutMe h2{
    border: 5px solid black;
}

/* ABOUT FLEXBOX CONTAINER */
.aboutMe #container{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

/* ABOUT ME IMAGE WITH GUITAR */
.aboutMe img{
    max-height: 600px;
    margin: 10px 100px 10px 100px;
    flex-grow: 1;
    border: var(--borderColor);
}

/* ABOUT ME BIO TEXT */
.aboutMe p{
    background-color: orange;
    color: black;
    text-align: center;
    padding: 10px;
    margin: 10px 111px 0px 10px;
    max-width: 40%;
    flex-grow: 1;
}

/* MY WORK HEADER TEXT CENTER */
.myWork h2{
    text-align: center;
}

/* MY WORK FLEXBOX */
.myWork #containerMain{ 
    display: flex;
    justify-content: center;
}

/* MY WORK MAIN IMAGE */
.myWork #mainProject {
    min-width: 400px;
    height: 400px;
    flex-basis: 0;
}

/* MY WORK WHEN CLICKED CHANGED OPACITY AND BORDER FOR RESPONSIVE CLICK */
.myWork #mainProject:active{
    opacity: .5;
    border: var(--borderColor);
}

/* MY WORK FLEX BOX CONTAINER */
.myWork #container {
    display: flex;
    justify-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* MY WORK IMAGES FOR DIMENSIONS AND BORDER COLORS */
.myWork img {
    max-width: 350px;
    height: 300px;
    border: var(--borderColor);
    margin: 10px;

}

/* MY WORK current project */
.myWork #centralWork {
    min-width: 400px;
    flex-basis: 0;
}

/* CONTACT ME HEADER */
.contactMe header {
    text-align: center;
    background-color: black;
}

/* CONTACT ME FLEX BOX CONTAINER */
.contactMe #container{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: black;
}

/* CONTACT ME BUTTONS FOR EMAIL,LINKEDIN, GITHUB */
.contactMe a {
    font-weight: bold;
    border: 2px solid orange;
    border-radius: 20px;
    border-width: 2px;
    margin: 10px;
    padding: 5px;
}

/* CONTACT ME BUTTONS WHEN ACTIVE CHANGES ELEMENTS FOR RESPONSIVE CLICK */
.contactMe a:active{
    opacity: .5;
    border: var(--borderColor);
}

/* FOOTER SECTION */
footer{
    text-align: center;
    background: black;
    color: white;
}


/* header changes color, flex wrap for about me section */
@media screen and (max-width: 992px) {
    body {
      background: #772014;
    }
    .aboutMe #container{
        flex-wrap: wrap;
    }
    .aboutMe p {
        margin: auto;
    }

  }
  
  /* navbar changes color, flex box changes for about me and header */
  @media screen and (max-width: 768px) {
    body {
      background-color: #bb8588;
    }
    nav a{
        border: 0px solid orange;
    }
    .aboutMe #container{
        flex-wrap: wrap;
    }
    header #container{
        flex-direction: column;
    }
  }
  
  /* background color changes and flex box changes for about me section */
  @media screen and (max-width: 576px) {
    body {
      background-color: #8ac4ff;
    }
    .aboutMe #container{
        flex-wrap: wrap;
    }
  }
  